<section class="mt-4">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #003267;">
        <div class="container p-4">
            <!-- Section: Iframe -->
            <section class="">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class="ratio ratio-16x9">
                            <iframe class="shadow-1-strong rounded" src="https://www.youtube.com/embed/zV7hsgzNdzo"
                                title="YouTube video" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section: Iframe -->
        </div>
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3">Contribute to our project</span>
                    <button data-mdb-ripple-init type="button" class="btn btn-outline-light btn-rounded">
                        JOIN US
                    </button>
                </p>
            </section>
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright:
            <a class="text-white text-decoration-none ms-2" href="#home">TeamMallu</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>